.red
{
    color: red;
    font-size: 30px;
    font-weight: 900;
}
.center 
{
    text-align: center;
}
.s3
{
    color:blue;
    font-size:30px;
    text-align: center;
    font-weight: 900;
}